@import './Variables.css';

.starIcon > *{
  color: gold;

}
.starIcon {
  font-size: 14px;
}

.landing-hero{
  position: relative;
}

.landing-hero > img{
  grid-column: 1 / -1;
  width: 100%;

}
.landing-hero-content{
  grid-column: 1 / -1;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.headline > * {
  font-size: 30px;
}
.landing-hero-header{
  display: flex;
  align-items: baseline;
}
.landing-hero-header > p {
  padding-left: 5px;
}
.button-container{
  display: grid;
  gap: 10px;
  padding-top: 20px;
  grid-template-columns: 1fr 1fr;
}


/* Tablets */
@media (min-width: 768px) {

  }
  
  /* Laptops */
  @media (min-width: 1025px) {
    /* Laptop styles here */
    .app > .grid{
      max-width: 1024px;
    }
    .headline > * {
      font-size: 60px;
    }
    .starIcon {
      font-size: 16px;
    }
    .landing-hero-content{
      grid-column: 1 / 7;
      grid-row: 1;
      z-index: 2;
      justify-content: start;
      align-items: start;
      text-align: start;
      gap: 5px;
      padding-top: 20px;
    }
    .landing-hero > img{
      grid-column: 5 / -1;
      grid-row: 1;
      z-index: 1;
     align-self: flex-end;
     filter: brightness(.99);
    }
    .button-container{
     
    }


  }
  
  /* Desktops */
  @media (min-width: 1441px) {
    /* Desktop styles here */
  }
  