@import './Variables.css';

.starIcon > *{
  color: gold
}

.landing-hero{
  position: relative;
}

.landing-hero > img{
  position: absolute;
  width: 50%;
  height: 100%;
  bottom: 0;
  right: 0;

}
.landing-hero-content{
  grid-column: span 8;c
  
};
.landing-hero-content > * {
  
}

.headline > * {
  font-size: 30px;
}



/* Tablets */
@media (min-width: 768px) {

  }
  
  /* Laptops */
  @media (min-width: 1025px) {
    /* Laptop styles here */
    .app > .grid{
      max-width: 1024px;
    }
    .headline > * {
      font-size: 60px;
    }

  }
  
  /* Desktops */
  @media (min-width: 1441px) {
    /* Desktop styles here */
  }
  