/* Google Fonts - Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import './assets/css/Variables.css';

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: var(--dark-gray);
}


/* Global Styles */
.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px 16px;
  width: 100%
}
a{
  text-decoration: none;
}

/* Tablets */
@media (min-width: 768px) {
  /* Tablet styles here */



}

/* Laptops */
@media (min-width: 1025px) {
  /* Laptop styles here */

.grid{
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  padding: 10px 100px;
}

}

/* Desktops */
@media (min-width: 1441px) {
  /* Desktop styles here */
}