/* Google Fonts - Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import './assets/css/Variables.css';


/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: var(--dark-gray);
}


/* Global Styles */
.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px 16px;
  width: 100%
}
a{
  text-decoration: none;
}
h1 {
  font-size: 30px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 20px;
}
p{
  font-size: 16px;
}
.light-weight{
  font-weight: 300;
}
.regular-weight{
  font-weight: 400;
}
.medium-weight{
  font-weight: 500;
}
.semi-bold-weight{
  font-weight: 600;
}
.bold-weight{
  font-weight: 700;
}
.primary{
  color: var(--primary)
}
.secondary{
  color: var(--gray)
}
.teritary{
  color: var(--light-gray);
}
.accent{
  color: var(--primary);
}
section{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px 16px;

  
}
.flex{
  display: flex;
}
main{
  height: fit-content;
}
.column{
  flex-direction: column;
}
.button{
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button.primary-button > * {
  color: var(--light-gray);
}
.button.secondary-button > * {
  color: var(--primary);
}
.primary-button{
  background-color: var(--primary);

  border: 2px solid var(--primary);
  box-shadow: inset 0px 2px 2px var(--light-red),
  3px 5px 3px hsla(0, 0%, 0%, .15);
}
.secondary-button{
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
}


/* Tablets */
@media (min-width: 768px) {
  /* Tablet styles here */



}

/* Laptops */
@media (min-width: 1025px) {
  /* Laptop styles here */

.grid{
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  padding: 10px 100px;
}
section{
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  padding: 25px 100px;


}
h1 {
  font-size: 60px;
}
h2{
  font-size: 36px;
}
h3{
  font-size: 30px;
}
p{
  font-size: 18px;
}

}

/* Desktops */
@media (min-width: 1441px) {
  /* Desktop styles here */
}